[Unit]
Description=remy.io
After=network.target

[Service]
TimeoutStartSec=0
ExecStart=/home/webapps/live/remy.io/remy.io
ExecStop=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
